body {font-family: 'Helvetica Neue', Helvetica, sans-serif;font-size: 16px;line-height: 21px;color: #000;background-color: #F7F7F8;margin: 0;padding: 0;}
* {-webkit-box-sizing: border-box;box-sizing: border-box;outline: 0;-webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;}
/**头部******************************************/
.bar{position: fixed;z-index: 10;right: 0;left: 0; height: 44px;padding-right: 10px;padding-left: 10px;border-bottom: 0;-webkit-backface-visibility: hidden;backface-visibility: hidden;top: 0;display: block;background: #FFFFFF;}
.title{right: 40px;left: 40px;display: inline-block;overflow: hidden;width: auto;margin: 0;text-overflow: ellipsis;font-size: 17px;font-weight: 500;line-height: 44px;position: absolute;padding: 0;text-align: center; white-space: nowrap;}
.bar .left{float: left;line-height: 44px;color: #000000;}
.city{font-size: 14px;}
.bar img{width: 20px;margin-top: 12px;}
.bar span{float: left;}
.bar .left img{float: left;margin-right: 5px;}
.bar .back{width: 10px;margin-left: 5px;}
.bar .right{float: right;line-height: 44px;color: #000000;font-size: 14px;}
.bar .right img{width: 20px;}
/**底部*************************************************/
.bar-tab{position: fixed;left: 0;bottom: 0;display: table;width: 100%;height: 50px;padding: 0;table-layout: fixed;background-color: #FFFFFF;box-shadow: 0 0 1px #EFEFF4;}
.bar-tab .tab-item {display: table-cell;overflow: hidden;width: 1%;height: 50px;text-align: center;vertical-align: middle;white-space: nowrap;text-overflow: ellipsis;color: #000;}
.tab-label{display: block;font-size: 12px;}
.tab-item.active{color: #03A9F4;}
/**********************************************************************/
.content{padding-top: 44px;padding-bottom: 50px;}
.arrange{width: 100%;height: 44px;line-height: 44px;padding-left: 15px;}
.col{color: #fd4c3c;}
.col1{color: #03A9F4;}
.col3{color: #808080;}
.col4{color: #28D426;}
/**箭头********************************************************/
.tight{width: 10px;height: 10px;display: inline-block;border-right: 2px solid #ccc;border-bottom: 2px solid #ccc;cursor: pointer;-webkit-transform: rotate(-45deg);position: absolute;right: 15px;top: 16px;}
.cur{width: 10px;height: 10px;display: inline-block;border-right: 2px solid #ccc;border-bottom: 2px solid #ccc;cursor: pointer;-webkit-transform: rotate(-45deg);position: absolute;right: 15px;top: 16px;}
b{-webkit-transition: -webkit-transform .3s;width: 10px;height: 10px;display: inline-block;border-right: 2px solid #CCC;border-bottom: 2px solid #CCC;cursor: pointer;-webkit-transform: rotate(-315deg);position: absolute;top: 15px;right: 15px;}	
.arrow{-webkit-transform: rotate(-135deg);top: 20px;}
.sel-div{width: 100%;height: 44px;background: #FFFFFF;line-height: 44px;padding-left: 15px;cursor: pointer;margin-top: 8px;position: relative;}
p{font-size: 14px;color: #808080;margin: 0;}
.mui-radio input[type=radio]:before {font-size: 23px;}
.mui-checkbox input[type=checkbox]:checked:before {font-size: 23px;}
.mui-checkbox input[type=checkbox]:before {font-size: 23px;}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {color: #03A9F4;}
.distance{padding-left: 15px;}
textarea{border: 0;}
/**列表************************************************************/
ul{position: relative;margin: 0;padding: 0;}
ul.liebiao{border-top: 1px solid #efefef;}
li{position: relative;overflow: hidden;background: #FFFFFF;padding: 11px 15px;margin: 0;}
li:after{height: 1px;background: #efefef;position: absolute;right: 0;bottom: 0;content: '';transform: scaleY(.5);left: 0;}
/*****************************************************************/
form{position: relative;border: 0;padding: 0;margin: 0;}
.input-div{position: relative;clear: left;height: 40px;overflow: hidden;margin: 0;padding: 0;background: #FFFFFF;margin-top: 5px;}
input[type=text],input[type=tel],input[type=password]{width: 100%;height: 44px;-webkit-appearance: none;margin-bottom: 0;border: 0;border-radius: 0;background-color: transparent;outline:none;font-size: 16px;padding-left: 0;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: #CCCCCC;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #CCCCCC;}
.mui-radio input[type=radio]:before {font-size: 23px;}
/***********************************************************/
.bottom{margin-top: 1em;width: 100%;text-align: center;}
.bottom .btn{border: 1px solid #03A9F4;height: 44px;line-height: 0;background: #03A9F4;color: #FFFFFF;width: 90%;border-radius: 5px;font-size: 16px;}
.mengban{position: absolute;width: 100%;height: 100%;z-index: 2;display: none;background: #000000;filter:alpha(opacity=50); /*IE滤镜，透明度50%*/-moz-opacity:0.5; /*Firefox私有，透明度50%*/opacity:0.5;/*其他，透明度50%*/}

.mui-action-back {padding-left: 10px; padding-right: 10px; padding-bottom: 8px;}
.bdr {border: 1px solid #000 !important;}







































































