.banner li{padding: 0;background: none;}
.f{width: 100%;height: 135px;background-image: url(../../img/first.png);background-repeat: no-repeat;position: relative;}
.f1{width: 100%;height: 135px;background-image: url(../../img/second.png);background-repeat: no-repeat;position: relative;}
.f_l{width: 45%;height: 135px;background: #000000;filter:alpha(opacity=75); /*IE滤镜，透明度50%*/-moz-opacity:0.75; /*Firefox私有，透明度50%*/opacity:0.75;float: left;position: relative;}
.f_r{width: 55%;height: 135px;background: #000000;filter:alpha(opacity=80); /*IE滤镜，透明度50%*/-moz-opacity:0.8; /*Firefox私有，透明度50%*/opacity:0.75;float: left;}
.f_l1{width: 123px;height: 135px;margin: auto;}
.f_l11{float: left;padding-top: 40px;}
.f_l12{float: left;color: #FFFFFF;padding-top: 56px;padding-left: 5px;}
.f_r1{width: 123px;height: 140px;margin: auto;}
.vertick1{position: absolute;width: 1px;height: 135px;left: 45%;background: #000000;top: 0;}
.vertick2{position: absolute;width: 100%;height: 1px;left: 0;background: #000000;bottom: 0;}
.vertick3{position: absolute;width: 1px;height: 135px;left: 55%;background: #000000;top: 0;}




























