ul{margin-top: 5px;}
.order_l{width: 90px;color: #9D9D9D;float: left;}
.order_r{float: left;width: 68%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.addres{white-space: normal;}
.time{padding-left: 10px;}
.adde{padding-top: 10px;height: 40px;}
.addres{height: 40px;}
.notise{font-size: 12px;color: #FD4C3C;padding-left: 15px;}
.blockt{display: block;text-indent: 2em;padding: 10px 15px 0 15px;font-size: 15px;}
.tuijian{display: block;padding-left: 15px;padding-top: 10px;}
.image{position: relative;}
.image img{width: 100%;margin: 5px 0;padding: 0 5px;}
.character{position: absolute;bottom: 30px;color: #FFFFFF;left: 16px;}































